.video {
    display: grid;
    grid-template-columns: 40px 100px 1fr .3fr 70px 40px 40px;
    padding: .5rem;
    background: #213034;
    border-radius: 5px;
    margin: .3rem;
    align-items: center;
    width: 100%;
    border: solid 1px #39535a;
    box-shadow: rgba(57, 83, 90, 0.22) 0 3px 8px;
    transition: all .2s;
}

.video:hover {
    background: #0e1717;
    cursor: pointer;
}

.toolbar-label {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    /*background: white;*/
}

.toolbar-label .toolbar-label-text {
    font-size: 1rem;
    position: absolute;
    margin: .2rem .2rem 0 .2rem;
    color: #b9b9b9;
    font-weight: normal;
    transform: translateY(-1.3rem);
    padding: .2rem;
    background: #0e1717;
    border-radius: 5px;
}

.url-input {
    outline: none;
    font-size: 1rem;
    height: 30px;
    width: 16rem;
    padding: .2rem .5rem;
    border-radius: 5px;
    background: #0e1717;
    color: #fff;
    border: solid 2px #39535a;
}

header {
    position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 100;
}

.toolbar {
    position: sticky;
    top: 86px;
    max-width: 100%;
}


.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.video .video-thumbnail {
    height: 40px;
}

.video .video-checkbox {
    height: 20px;
    aspect-ratio: 1;
}

.audio-checkbox {
    height: 30px;
    aspect-ratio: 1;
}


.video .video-title-channel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 .5rem;
}

.video .video-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

.video .video-channel {
    font-size: 1rem;
    color: #96a2b7;
}

.video .video-channel:hover, .video .video-title:hover {
    cursor: pointer;
    opacity: .7;
    transition: all .2s;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    background: #0e1717;
}

.toolbar-left, .toolbar-button-wrapper {
    display: flex;
    align-items: center;
}

.toolbar-button-wrapper {
    border: solid 2px #39535a;
    border-radius: 5px;
    padding: .2rem;
    margin: 0 .5rem;
}

.toolbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.toolbar-button:hover, #iconToggle:hover {
    cursor: pointer;
    opacity: .7;
}

@media (max-width: 950px) {
    .toolbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toolbar-left {
        margin: 0 .5rem .5rem .5rem;
    }
    .toolbar-right, .toolbar-left {
        justify-content: space-between;
        width: 100%;
    }
    .toolbar-right .toolbar-button-wrapper:last-child {
        margin-right: 0;
    }
}

.download-selected-button, .download-all-button, #iconToggle {
    background: #497abb;
}

.delete-all-button {
    background: #bb4949;
}

.add-button {
    background: #62bb49;
}

.export-button {
    background: #bb9d49;
}

.import-button {
    background: #bb6749;
}

.toolbar-button, #iconToggle {
    margin: 0 .3rem;
    border: none;
    outline: none;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all .2s;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}

.video-duration {
    font-size: 1rem;
    color: #96a2b7;
    /*display: inline;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.in-progress-blocker {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, .5);*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: #0e1717;
    /*opacity: .1;*/
    backdrop-filter: blur(60px)
}

.in-progress-blocker .in-progress-title {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
    /*opacity: 1;*/
}

.in-progress-bar {
    width: 100%;
    height: 20px;
    background: #213034;
    border-radius: 5px;
    overflow: hidden;
}

.in-progress-bar-fill {
    height: 100%;
    background: #497abb;
    border-radius: 5px;
    width: 0;
    transition: all .2s;
}

.stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #fff;
}

.stats .stats-title {
    font-weight: bold;
}

.stats .stats-value {
    font-size: 1.2rem;
    color: #497abb;
}

#messages {
    position: fixed;
    bottom: 0;
    left: 0;
}

.message-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: .5rem;
    border-radius: 5px;
    margin: .5rem;
    color: #ffffff;
    font-size: 1.2rem;
    box-shadow: rgba(57, 83, 90, 0.22) 0 3px 8px;
    transition: all .2s;
    backdrop-filter: blur(5px);
    width: 300px;
}

.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.message-box-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.message-icons {
    font-size: 1.5rem;
    margin-right: .5rem;
}

.message-icon {
    display: none;
}

.message-Error {
    background: rgba(187, 73, 73, 0.9);
}

.message-Success {
    background: rgba(99, 185, 96, 0.9);
}

.message-Info {
    background: rgba(73, 122, 187, 0.9);
}

.message-Warning {
    background: rgba(187, 157, 73, 0.9);
}

.message-Warning .message-Warning-icon {
    display: inline;
    color: #ffc72e;
}


.message-Info .message-Info-icon {
    display: inline;
    color: #2b88ff;
}

.message-Success .message-Success-icon {
    display: inline;
    color: #5aff2c;
}

.message-Error .message-Error-icon {
    display: inline;
    color: #ff2929;
}

