{% extends "base.html" %}

{% block title %}ByteTube | Download as many YouTube videos you want!!!{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='checkbox.css') }}">
{% endblock %}

{% block main %}
    <Header>
        <form action="/stop_app" method="post" title="Stop the app. This will also kill all your running downloads"
              id="stop-form">
            {#        <button type="submit"><i class="fa-solid fa-power-off header-icon-stop"></i></button>#}
        </form>
        <a href="/">
            <span class="title-byte">Byte</span>
            <span class="title-tube">Tube</span>
        </a>
        <a href="https://github.com/M4rshe1/ByteTube" target="_blank">
            <i class="fa-brands fa-square-github header-icon-github"></i>
        </a>
    </Header>
    {% if progress != total %}
        <div class="in-progress-blocker" id="in-progress-blocker"
             hidden="hidden">
            <div class="in-progress">
                <div class="in-progress-title" id="in-progress-title">
                    Precessed {{ progress }} of {{ total }} videos
                </div>
                <div class="in-progress-bar">
                    <div class="in-progress-bar-fill" id="in-progress-bar-fill"
                         style="width: {{ progress / total * 100 }}%"></div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="toolbar">
        <div class="toolbar-left">
            <input type="text" name="link" class="url-input" placeholder="Link of video or playlist" autocomplete="off">
            <input type="button" value="+" class="add-button toolbar-button link-button add-btn"
                   title="Add video/playlist to list" id="add">
            <button type="button" class="download-all-button toolbar-button link-button download-directly-btn"
                    title="Download video/playlist directly" id="download">
                <i class="fa-solid fa-circle-down"></i>
            </button>
            <input type="checkbox" id="videoCheckbox" {% if onlyAudio == "1" %}
                   checked
            {% endif %}>
            <label for="videoCheckbox" id="iconToggle">
                <i class="fa-solid fa-video"></i>
                <i class="fa-solid fa-video-slash"></i>
            </label>

        </div>
        <div class="toolbar-right">

            <form action="/export" method="post" title="Export as CSV">
                <button type="submit" class="export-button toolbar-button">
                    <i class="fa-solid fa-file-csv"></i>
                </button>
                <input type="text" name="convert" value="csv" hidden="hidden" class="video-url">
            </form>
            <form action="/export" method="post" title="Export as JSON">
                <button type="submit" class="export-button toolbar-button">
                    <i class="fa-solid fa-file-code"></i>
                </button>
                <input type="text" name="convert" value="json" hidden="hidden" class="video-url">
            </form>
            &nbsp;&nbsp;&nbsp;
            <form action="/reverse_selection" method="post" title="Reverse your Selection">
                <button type="submit" class="download-selected-button toolbar-button">
                    <i class="fa-solid fa-object-ungroup"></i>
                </button>
            </form>
            <form action="/select_all" method="post" title="Select al videos">
                <button type="submit" class="download-selected-button toolbar-button">
                    <i class="fa-solid fa-object-group"></i>
                </button>
            </form>
            &nbsp;&nbsp;&nbsp;
            <form action="/download_selected" method="post" title="Download all selected Videos">
                <button type="submit" class="download-selected-button toolbar-button">
                    <i class="fa-regular fa-circle-down"></i>
                </button>
            </form>
            <form action="/download_all" method="post" title="Download all Videos">
                <button type="submit" class="download-all-button toolbar-button">
                    <i class="fa-solid fa-circle-down"></i>
                </button>
            </form>
            <form action="/delete_all" method="post" title="Delete all Videos">
                <button type="submit" class="delete-all-button toolbar-button">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="stats"><span><span class="stats-title">videos: </span><span class="stats-value">{{ stats.videos }}</span> | <span class="stats-title"> selected: </span><span class="stats-value" id="count-selected">{{ stats.selected }}</span></span></div>
    <div class="videos">
        {% for video in videos %}
            <div class="video">
                <form action="/check" method="post">
                    <input type="checkbox" class="video-checkbox" name="link"
                           {% if video.selected %}checked{% endif %}/>
                    <input type="text" value="{{ video.url }}" hidden="hidden" class="video-url">
                </form>
                <img src="{{ video.thumbnail }}" alt="Video Thumbnail" class="video-thumbnail">
                <div class="video-title-channel">
                    <a href="{{ video.url }}" class="video-title" target="_blank">
                        {{ video.title }}
                    </a>
                    <a href="{{ video.channel_url }}" class="video-channel" target="_blank">
                        {{ video.channel }}
                    </a>
                </div>
                <div class="video-duration">
                    {{ video.views }} views
                </div>
                <div class="video-duration">
                    {{ video.duration }}
                </div>

                <form action="/download" method="post" title="Download this Videos">
                    <button type="submit" class="download-all-button toolbar-button">
                        <i class="fa-solid fa-circle-down"></i>
                    </button>
                    <input type="text" value="{{ video.url }}" name="links" hidden="hidden" class="video-url">
                </form>

                <form action="/delete" method="post" title="Delete this video">
                    <button type="submit" class="delete-all-button toolbar-button">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <input type="text" value="{{ video.url }}" name="links" hidden="hidden" class="video-url">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='index.js') }}"></script>
{% endblock %}
