{% extends "base.html" %}

{% block title %}ByteTubeDive | Download as many YouTube videos you want!!!{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='checkbox.css') }}">
{% endblock %}

{% block main %}
    <div class="toolbar">
        <form action="/add" class="toolbar-left" id="add-form" method="post">
            <input type="text" name="link" class="url-input" placeholder="Link of video or playlist" autocomplete="off">
            <input type="submit" value="+" class="add-button toolbar-button link-button add-btn"
                   title="Add video/playlist to list" id="add">
            <button type="submit" class="download-all-button toolbar-button link-button download-directly-btn"
                    title="Download video/playlist directly" id="download">
                <i class="fa-solid fa-circle-down"></i>
            </button>
            <input type="checkbox" id="videoCheckbox" {% if onlyAudio == "1" %}
                   checked
            {% endif %}>
            <label for="videoCheckbox" id="iconToggle">
                <i class="fa-solid fa-video"></i>
                <i class="fa-solid fa-video-slash"></i>
            </label>

        </form>
        <div class="toolbar-right">
            
            <form action="/export" method="post" title="Export as CSV">
                <button type="submit" class="download-all-button toolbar-button">
                    <i class="fa-solid fa-file-csv"></i>
                </button>
                <input type="text" name="type"  value="csv" hidden="hidden" class="video-url">
            </form>
            <form action="/export" method="post" title="Export as JSON">
                <button type="submit" class="download-all-button toolbar-button">
                    <i class="fa-solid fa-file-code"></i>
                </button>
                <input type="text" name="type"  value="json" hidden="hidden" class="video-url">
            </form>
            &nbsp;&nbsp;&nbsp;
            <form action="/download_selected" method="post" title="Download all selected Videos">
                <button type="submit" class="download-selected-button toolbar-button">
                    <i class="fa-regular fa-circle-down"></i>
                </button>
            </form>
            <form action="/download_all" method="post" title="Download all Videos">
                <button type="submit" class="download-all-button toolbar-button">
                    <i class="fa-solid fa-circle-down"></i>
                </button>
            </form>
            <form action="/delete_all" method="post" title="Delete all Videos">
                <button type="submit" class="delete-all-button toolbar-button">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="videos">
        {% for video in videos %}
            <div class="video">
                <form action="/check" method="post">
                    <input type="checkbox" class="video-checkbox" name="link"
                           {% if video.selected %}checked{% endif %}/>
                    <input type="text" value="{{ video.url }}" hidden="hidden" class="video-url">
                </form>
                <img src="{{ video.thumbnail }}" alt="Video Thumbnail" class="video-thumbnail">
                <div class="video-title-channel">
                    <a href="{{ video.url }}" class="video-title" target="_blank">
                        {{ video.title }}
                    </a>
                    <a href="{{ video.channel_url }}" class="video-channel" target="_blank">
                        {{ video.channel }}
                    </a>
                </div>
                <div class="video-duration">
                    {{ video.views }} views
                </div>
                <div class="video-duration">
                    {{ video.duration }}
                </div>
            
                <form action="/download" method="post" title="Download this Videos">
                    <button type="submit" class="download-all-button toolbar-button">
                        <i class="fa-solid fa-circle-down"></i>
                    </button>
                    <input type="text" value="{{ video.url }}" name="links" hidden="hidden" class="video-url">
                </form>

                <form action="/delete" method="post" title="Delete this video">
                    <button type="submit" class="delete-all-button toolbar-button">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <input type="text" value="{{ video.url }}" name="links" hidden="hidden" class="video-url">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='index.js') }}"></script>
{% endblock %}
